.hidden{
    display: none;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;   
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

label, button{
    width: 300px;
}

.disabled {
    pointer-events: none;
}

.centrado{
    margin: 0 auto;
}

#container{
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
}

.frame{
    display: flex;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}

#turn-container{
    font-size: 3em;
    margin-bottom: 10px;
}

#reset-button{
    text-align: center;
    width: 8em;
    margin-top: 10px;
    font-size: 1.5em;
    padding: 0.5em;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}